@import 'header';
@import 'section_1';
@import 'section_3';
@import 'section_4';
@import 'section_5';
@import 'swiper';
@import 'communities';
@import 'footer';

@include block(section-title) {
  @include breakpoint(medium down) {
    font-size: 1.5em;
  }

  @include breakpoint(small down) {
    font-size: 1.3em;
  }

  @include breakpoint(large) {
    font-size: 2em;
  }
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a687b;
  margin: 1em 0;
}

.site-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
