@include block(communities) {
  position: relative;
  @include breakpoint(1800px) {
    min-height: 750px;
  }

  > img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    min-height: inherit;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);

    @include breakpoint(1900px) {
      height: auto;
      min-height: inherit;
    }
  }

  @include block(opaque) {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }

  @include breakpoint(1980px) {
    background-size: 100% 100%;
  }

  @include element(pagination) {
    text-align: center;
    top: 30px;
    position: absolute;
    @include breakpoint(medium down) {
      display: none;
    }
    @include breakpoint(2000px) {
      top: 10px;
    }
    .swiper-pagination-bullet {
      width: 20px;
      height: 4px;
      border-radius: unset;
    }
  }

  @include element(content) {
    max-width: 80%;
    position: relative;

    @include breakpoint(large up) {
      h1 {
        margin: 0 0 2em 0.8em;
      }
    }

    @include breakpoint(1980px) {
      width: 60%;
    }

    @include breakpoint(small only) {
      max-width: 90%;
    }
  }

  @include element(items) {
    position: relative;
    overflow: hidden;
    @include block(community) {
      @include breakpoint(large down) {
      }

      @include block(image) {
        > img {
          width: 356px;
          height: 659px;
        }
      }

      @include block(content) {
        @include element(geo) {
          position: relative;
          margin-top: 8em;
          @include block(planet) {
            width: 204px;
            height: 204px;
            max-width: 204px;
            max-height: 204px;
          }

          @include block(tooltip) {
            position: absolute;
            color: #4a4a4a;
            background: #ffffff;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.31);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            top: -4em;
            width: max-content;

            span {
              font-size: 19.2px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.01px;
              color: #4a4a4a;
            }

            img {
              width: 41px;
              height: 32px;
              margin-right: 0.2em;
            }

            &:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -8px;
              width: 0;
              height: 0;
              border-top: 8px solid #ffffff;
              border-right: 8px solid transparent;
              border-left: 8px solid transparent;
            }
          }
        }

        @include element(metadata) {
          margin-top: 2em;
          font-size: 1.3em;
          color: #037aff;

          @include block(currency) {
            margin-right: 1em;
          }
          @include block(token) {
            width: 30px;
            height: 30px;
            margin-right: 0.5em;
          }
        }

        @include element(logo) {
          margin-bottom: 1em;
          max-width: 200px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        @include element(text) {
          max-width: 420px;
          @include breakpoint(large) {
          }
        }
      }
    }
  }

  @include element(button) {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 70px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include modifier(prev) {
      background-image: url(/images/back.png);
      left: 0;
      &:hover {
        background-image: url(/images/back-hover.png);
      }
    }

    @include modifier(next) {
      background-image: url(/images/next.png);
      right: 0;
      &:hover {
        background-image: url(/images/next-hover.png);
      }
    }
  }

  @include element(title) {

  }

  @include block(bg_images) {
    display: table-cell;
    vertical-align: middle;
  }

  @include element(background_img) {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  @include element(background_change) {
    div {
      animation-name: backgroundchangeFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 8s;

      -webkit-animation-name: backgroundchangeFadeInOut;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;
    }
    div:nth-of-type(1) {
      animation-delay: 10s;
      -webkit-animation-delay: 10s;
    }
    div:nth-of-type(2) {
      animation-delay: 8s;
      -webkit-animation-delay: 8s;
    }
    div:nth-of-type(3) {
      animation-delay: 6s;
      -webkit-animation-delay: 6s;
    }
    div:nth-of-type(4) {
      animation-delay: 4s;
      -webkit-animation-delay: 4s;
    }
    div:nth-of-type(5) {
      animation-delay: 2s;
      -webkit-animation-delay: 2s;
    }
    div:nth-of-type(6) {
      animation-delay: 0;
      -webkit-animation-delay: 0;
    }
  }

  #back1 {
    background: url("http://www.placecage.com/500/700") no-repeat center fixed;
  }

  #back2 {
    background: url("http://www.placecage.com/500/600") no-repeat center fixed;
  }

  #back3 {
    background: url("http://www.placecage.com/500/500") no-repeat center fixed;
  }

  #back4 {
    background: url("http://www.placecage.com/500/800") no-repeat center fixed;
  }

  #back5 {
    background: url("http://www.placecage.com/500/900") no-repeat center fixed;
  }
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
