@include block(footer) {
  height: 100%;

  @include breakpoint(medium up) {
    width: 75%;
  }

  @include breakpoint(1600px) {
    width: 60%;
  }

  @include element(container) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @include element(link) {
    text-decoration: none;
    width: 62px;
    font-size: 0.938em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a2f40;

    @include modifier(white) {
      color: white;
    }
  }

  @include element(icons) {
    display: flex;
    flex-direction: row;
  }

  @include element(icon) {
    cursor: pointer;
    width: auto;
    margin: 0 10px;
    height: 31px;
  }

  @include element(wallet) {
    width: 200px;
    height: 40.4px;
    border-radius: 20.2px;
    border: solid 1.3px rgba(5, 34, 53, 0.18);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > span {
      color: #05283e;
      font-size: 0.938em;
    }

    @include element(icon) {
      width: auto;
      height: 23px;
    }
  }

  @include element(defi) {
    height: 29px;
    border-radius: 14.5px;
    border: solid 1px #7b7b7b;
    width: 185px;
    max-width: 205px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 1em;

    @include element(link) {
      text-decoration: none;
      width: 100%;
      font-size: 0.938em;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: white;
      &:hover {
        color: white;
      }
    }
  }

  @include element(nav) {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #0a2f40;
    font-size: 0.938em;

    @include xy-grid();
    @include flex-align(right, middle);

    @include breakpoint(small only) {
      @include flex-align(left, middle);
    }
  }

  @include element(logo) {
    width: 100px;

    @include element(wrapper) {
      display: flex;
      align-items: center;

      > span {
        margin-left: 10px;
        color: white;
        font-size: 0.813em;
        font-weight: 500;
      }
    }
  }

  @include element(item) {
    @include breakpoint(small only) {
      margin: 1em 0;
    }
  }

  @include element(wrapper) {
    @include breakpoint(medium up) {
      height: 240px;
    }
    background-color: #001929;
    padding: 2em 20px;
    min-height: 100px;
  }

  @include element(sign) {
    @include block(title) {
      font-size: 1.1em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: white;
      margin-bottom: 0.4em;
    }

    @include block(input) {
      max-width: 299px;
      height: 54px;
      border-radius: 10px;
      border: solid 1px rgba(151, 151, 151, 0.35);
      background-color: #ffffff;
      color: #052235;
      cursor: pointer;
    }

    @include block(button) {
      padding: 18px;
      max-width: 105px;
      margin-left: 1em;
      border-radius: 10px;
      background-image: linear-gradient(112deg, #97fba2 9%, #fae83e 90%);
    }
  }
}
