@include block(header) {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 80px;
  z-index: 1;
  width: 100%;
  @include element(wrapper) {
    display: block;
    padding: 0 20px;
    position: relative;
  }
  @include element(logo) {
    width: 100px;
  }

  @include element(icons) {
    display: flex;
    flex-direction: row;

    @include breakpoint(medium down) {
      margin-bottom: 2em;
    }
  }

  @include element(icon) {
    width: auto;
    margin: 0 10px;
    height: 31px;
    @include element(svg) {
      fill: #05283e;

      * path {
        fill: initial;
      }

      &:hover * path {
        fill: #4a687b;
      }

      &:hover {
        fill: #4a687b;
      }
    }
  }

  @include element(wallet) {
    cursor: pointer;
    width: 200px;
    height: 40.4px;
    border-radius: 20.2px;
    border: solid 1.3px rgba(5, 34, 53, 0.18);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > a {
      display: flex;
      justify-content: space-around;
      width: 83%;
      text-decoration: none;
    }

    > span {
      color: #05283e;
      font-size: 0.938em;
      padding-top: 1px;
    }

    @include element(icon) {
      width: auto;
      height: 23px;
    }
  }

  @include element(nav) {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #0a2f40;
    font-size: 1em;

    @include breakpoint(medium down) {
      display: none;
    }

    @include element(open) {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      visibility: visible;
      height: 100%;
      background: #fff;
      flex-direction: column;
      justify-content: normal;
    }
  }

  @include element(link) {
    text-decoration: none;
    width: 82px;
    font-size: 0.938em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a2f40;

    @include element(wrapper) {
      @include xy-grid(horizontal);
      @include breakpoint(medium down) {
        margin: 4em 0 2em;
        @include xy-grid(vertical);

        > :first-child {
          margin-bottom: 1em;
        }
      }
    }

    @include breakpoint(medium down) {
      font-size: 1.375em;
    }

    @include modifier(white) {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include block(active) {
  .hamburger-button__top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #000;
  }

  .hamburger-button__middle {
    opacity: 0;
    background: #000;
  }

  .hamburger-button__bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #000;
  }
}

@include block(hamburger-button) {
  @include element(container) {
    @include breakpoint(large up) {
      display: none;
    }
    background-color: transparent;
    position: relative;
    flex: 0 0 auto;
    display: block;
    width: 25px;
    height: 25px;
    margin-left: auto;
    z-index: 100;

    span {
      background: #052741;
      border: none;
      height: 2px;
      width: 25px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.35s ease;
      cursor: pointer;
      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus,
    :active {
      outline: none;
    }
  }

  @include element(top) {
  }

  @include element(middle) {
  }

  @include element(bottom) {
  }
}
