@include block(section-A) {
  width: 100%;
  position: relative;
  background-image: linear-gradient(116deg, #8efdaf, #f4e61b);

  @include element(overlay) {
    position: relative;
    margin-top: 5em;
    @include flex-align(center, null);

    @include breakpoint(medium only) {
      margin-top: 3em;
    }

    @include breakpoint(medium down) {
      margin-top: 1em;
      @include flex-align(center, null);
    }

    @include breakpoint(medium only) {
      min-height: 80vh;
    }

    @include breakpoint(xxlarge up) {
      min-height: 60vh;
    }

    @include breakpoint(3000px) {
      min-height: 70vh;
    }
  }

  @include element(wrapper) {
    max-width: 80%;
    width: 100%;
    @include breakpoint(medium only) {
      margin: 0;
      @include flex-align(left, top);
    }

    @include breakpoint(small only) {
      margin-bottom: 8em;
    }

    @include breakpoint(1700px) {
      max-width: 60%;
    }

    @include breakpoint(2100px) {
      margin-top: 10em;
    }
  }

  @include element(launch__button) {
    width: 300px;
    height: 46px;
    cursor: pointer;
    border: none;
    border-radius: inherit;
    background-image: linear-gradient(97deg, #b3ffbb, #fffb00);

    > span {
      width: 262px;
      height: 24px;
      font-weight: 500;
      color: #052235;
      font-weight: 500;
    }

    &:hover {
      background: #fdff00;
    }

    @include element(wrapper) {
      border: solid 2px rgba(74, 104, 123, 0.15);
      border-radius: 30.5px;
      width: 304px;
      margin-top: 1em;
      height: 50px;
    }
  }

  @include block(main_title) {
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: -0.16px;
    color: #052741;

    @include breakpoint(medium down) {
      font-size: 1.5em;
    }

    @include breakpoint(small down) {
      font-size: 1em;
    }
  }

  @include element(main) {
    padding: 2em 0 5em;

    @include breakpoint(medium only) {
      padding: 3em;
    }

    @include breakpoint(small only) {
      padding: 2em 0 8em;
    }

    @include element(title) {
      font-size: 2.25em;
      font-weight: bold;
      line-height: 1.39;
      letter-spacing: -0.16px;
      color: #052741;
    }
  }

  @include element(text) {
    @include breakpoint(medium down) {
      font-size: 1em;
    }
    @include breakpoint(large) {
      font-size: 1.25em;
    }
    line-height: 1.5;
    letter-spacing: -0.09px;
  }

  @include element(notification-text) {
    text-decoration: underline;
  }

  @include element(arrow) {
    > img {
      transition: all 0.1s ease-out;
    }
  }

  @include element(image) {
    display: block;
    width: 50%;
    height: auto;

    position: absolute;
    right: 0;
    z-index: 5;
    bottom: -79px;

    @include breakpoint(medium down) {
      width: 100%;
    }

    @include breakpoint(1700px) {
      bottom: -150px;
    }
  }
}
