@include block(section-D) {
  @include element(content) {
    width: 65%;
    margin: 0 auto;
    padding: 6em 0;
  }
}

@include block(studio) {
  @include breakpoint(large) {
    width: 80%;
    @include xy-grid(horizontal);
    @include flex-align(justify, middle);
  }

  @include breakpoint(medium down) {
    @include xy-grid(vertical);
    @include flex-align(center, middle);
  }

  @include breakpoint(1600px up) {
    max-width: 60%;
  }

  @include breakpoint(small only) {
    width: 80%;
    margin-top: 3em;
  }
  @include element(wrapper) {
    z-index: 1;
    @include breakpoint(large up) {
      padding: 4em 0;
    }
    position: relative;
  }

  @include block(carousel) {
    display: inline-block;
    position: relative;
    @include breakpoint(medium down) {
      width: 100%;
      order: 1;
      margin-bottom: 2em;
      @include xy-grid(vertical);
      @include flex-align(center, middle);
    }

    @include breakpoint(large up) {
      @include xy-cell(50%);
    }
    @include breakpoint(xlarge) {
    }

    height: 100%;

    @include element(image) {
      max-width: 100%;
      height: auto;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      @include breakpoint(small only) {
        @include xy-cell(full);
      }
      @include breakpoint(medium only) {
        @include xy-cell(75%);
      }
      @include breakpoint(large only) {
        // @include xy-cell(50%);
      }
      @include breakpoint(1800px) {
        width: 100%;
      }
    }

    @include element(indicator) {
      width: 8px;
      height: 8px;
      cursor: pointer;
      border-radius: 50%;
      display: inline-block;
      background-color: #cfcfcf;
      margin: 0 0.2em;

      @include breakpoint(medium down) {
        width: 1em;
        height: 1em;
        margin: 0 1em;
      }

      @include modifier(active) {
        background-color: #4a687b;
      }

      @include element(wrapper) {
        text-align: center;

        @include breakpoint(medium down) {
          margin-top: 2em;
        }
      }
    }

    @include element(arrow) {
      @include breakpoint(medium down) {
        display: none;
      }
      position: absolute;
      bottom: 0;
      transform: translateY(310px);
      left: -2em;
    }
  }

  @include element(about) {
    @include breakpoint(medium down) {
      order: 2;
      @include xy-cell(80%);
    }

    @include breakpoint(small only) {
      @include xy-cell(full);
    }
    @include breakpoint(large up) {
      @include xy-cell(50%);
    }
    display: inline-block;
    line-height: 1.4;

    @include block(section-link) {
      @include breakpoint(medium up) {
        width: 14.5em;
      }

      @include breakpoint(small only) {
        width: 100%;
      }
      display: inline-flex;
      margin-top: 3em;
    }

    @include element(lines) {
      position: relative;

      @include block(button) {
        > img {
          width: 18px;
          margin-left: 0.5em;
        }
      }
    }

    @include block(title) {
      @include breakpoint(xlarge) {
        font-size: 1.9em;
      }
      font-size: 1.5em;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.02px;
      color: #25435a;
    }

    @include block(sub-title) {
      color: #858585;
      margin-top: 1em;
      @include breakpoint(xlarge) {
        margin-top: 1.4em;
      }
    }
  }
}

@include block(left-line) {
  margin-top: 1em;
  position: relative;
  color: #cfcfcf;

  &:hover {
    cursor: pointer;
  }

  > span {
    padding-left: 1em;
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    background-color: #cfcfcf;
    width: 3px;
    height: 1.9em;
    top: 50%;
    transform: translateY(-50%);
  }

  @include modifier(active) {
    color: #42697d;
    &:before {
      background-color: #42697d !important;
    }
  }
}
