@include block(section-C) {
  position: relative;
  margin: 10em 0;

  @include breakpoint(2000px) {
    min-height: 40vh;
  }

  @include element(wrapper) {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    > .title {
      font-size: 2.25em;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.02px;
      color: #25435a;
      margin-top: 1em;
    }
  }
  @include element(content) {
    margin: 0 auto;
    display: flex;
    width: 65%;
    justify-content: space-between;

    @include block(item) {
      display: flex;
      flex-flow: column wrap;
      @include breakpoint(xlarge) {
        width: 30%;
      }

      @include breakpoint(medium down) {
        margin-bottom: 3em;
      }

      > h2 {
        margin-top: 0;
      }
    }
    @include breakpoint(large up) {
      width: 80%;
    }

    @include breakpoint(medium down) {
      flex-direction: column;
      width: 60%;
    }

    @include breakpoint(small only) {
      width: 80%;
    }

    @include breakpoint(1600px up) {
      max-width: 60%;
    }

    @include element(item) {
      display: flex;
      flex-flow: column wrap;
      width: 30%;

      > .section-title {
        margin-top: 0;
      }
    }
  }
  @include element(title) {
    width: 256px;
    font-size: 2.25em;
    font-weight: 500;
    color: #25435a;
    margin-bottom: 1em;
  }
  @include element(text) {
    width: 251px;
    font-size: 1.25em;
    color: #7a7a7a;
    margin-bottom: 1em;
  }
  @include element(read-more) {
    font-size: 1.25em;
    font-weight: 500;
    color: #4a687b;
  }
}
@include block(section-link) {
  background-color: #4a687b;
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: center;
  width: 10.5em;
  border-radius: 10px;
  padding: 0.6em 1em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.25em;
}

@include block(blogs) {
  @include element(wrapper) {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    @include breakpoint(medium down) {
      display: none;
    }
  }
}

@include block(item) {
  @include element(post) {
    @include breakpoint(medium down) {
      width: 100%;
      height: 100%;
    }
    width: 28%;
    max-height: 380px;
    border-radius: 10px;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    cursor: pointer;
    @include element(image) {
      position: relative;
      padding-bottom: 56.2%;

      > img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
      }
    }

    @include element(content) {
      display: flex;
      flex-flow: column nowrap;
      padding: 1em;
      color: #a4a4a4;

      > span {
        font-weight: 500;
        line-height: 1.83;
        font-size: 1em;
        color: #7a7a7a;
      }

      > p {
        font-size: 1.125em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #a4a4a4;
      }

      @include block(chips) {
        width: 129px;
        height: auto;
        border-radius: 15px;
        background-color: #ffdfd7;
        display: block;
        padding: 4px;
        margin: 0.2em 0 0.8em;
        text-align: center;

        > span {
          font-size: 1.125em;
          color: #7a7a7a;
        }
      }

      @include block(title) {
        font-weight: 500;
        font-size: 1.225em;
        color: #7a7a7a;
        margin: 0.3em 0 0.5em;
      }
    }
  }
}
