@include block(section_E) {
  position: relative;

  @include flex-align(center, middle);
  @include breakpoint(large) {
    margin-top: 5em;
    width: 80%;
  }

  @include breakpoint(xlarge) {
    margin-top: 12em;
  }

  @include breakpoint(medium down) {
    width: 80%;
  }
  @include element(wrapper) {
    position: relative;
    padding-bottom: 100px;
  }

  @include element(content) {
    width: 80%;
    max-width: 500px;

    @include breakpoint(medium down) {
      margin: 2em 0;
    }

    @include block(title) {
      font-size: 1.9em;
      font-weight: 500;
      line-height: 1.2;
      color: #25435a;
      margin-top: 1em;

      @include breakpoint(medium down) {
        font-size: 1.5em;
      }
    }

    @include block(sub-title) {
      font-weight: 500;
      font-size: 1.125em;
      color: #7a7a7a;
    }

    @include block(get-on-markets) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 4em;
      > a {
        margin-bottom: 1em;
      }

      @include breakpoint(medium down) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
      }
    }

    @include block(features) {
      margin: 2em 0;
      @include element(item) {
        min-height: 70px;
        @include element(text) {
          margin-left: 1em;
          color: #7a7a7a;
          font-size: 1em;
          line-height: 1.38;
        }

        @include element(pic) {
          display: inline-flex;
          align-self: center;

          img {
            max-width: 35px;
          }
        }
      }
    }
  }

  @include element(image) {
    display: inline-block;
    text-align: center;
    @include breakpoint(medium up) {
    }

    > img {
      max-width: 60%;
      @include breakpoint(large only) {
        max-width: 80%;
      }
      @include breakpoint(1800px) {
        max-width: 50%;
      }

      @include breakpoint(2200px) {
        max-width: 40%;
      }
    }
  }
}

@include block(blue) {
  position: relative;
  padding-top: 3em;
  background-color: #f0f8fe;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);

  @include breakpoint(medium only) {
    padding-top: 8em;
  }
  @include breakpoint(1800px) {
    padding-top: 10em;
  }
}
